# .github/workflows/ci_web.yml
name: CI/web

on:
  pull_request:
    paths:
      - "packages/web/**"
      - ".github/workflows/ci_web.yml"
  push:
    branches: ["main"]
    paths:
      - "packages/web/**"
      - ".github/workflows/ci_web.yml"

jobs:
  web_build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/web

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: packages/web/package-lock.json

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build